*.swp
.idea
.DS_Store
typings
node_modules
default/dist
default/tmp
default/index.yaml

# Ignore compiled python files.
*.pyc
# Ignore python package metadata
backend/lib/*info
# Ignore comiled C files since these are differnt on linux.
backend/lib/**/*.so
