button.upper-right {
    position: absolute;
    right: 52px;
    top: -60px;
}

button {
    margin: 20px;
    background-color: #da4649;
    color: #ffffff;
}

button:hover {
    background-color: #da4649;
    color: #ffffff;
}
