
<div class="input-group inner-addon left-addon">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <input autofocus type="text" class="form-control" (keypress)="onPressEnter($event, searchField.value)"
           value={{preSearchText}} #searchField>
    <span class="input-group-btn">
        <button class="btn" type="button" (click)="submit(searchField.value)" id="search-button">Search</button>
    </span>
</div>

<div>
    <table>
        <tr *ngFor="let link of res">
            <td>link.name</td>
            <td>link.url</td>
        </tr>
    </table>
</div>


