
<div class="input-group inner-addon left-addon">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <input autofocus type="text" class="form-control" (keypress)="onPressEnter($event, searchField.value)"
           value={{preSearchText}} #searchField>
    <span class="input-group-btn">
        <button class="btn" type="button" (click)="submit(searchField.value)" id="search-button">Search</button>
    </span>
    <span class="input-group-btn" *ngIf="googleRedirectLink">
        <button class="btn" type="button" (click)="_redirect(googleRedirectLink)" id="search-button">Google Instead?</button>
    </span>
</div>
<br>
<div>
    <span *ngFor="let link of res" link="yellow">
        <a href="{{link.url}}" style="color: yellow;">{{link.name}}</a> <br>
        {{link.displayUrl}} <br>
        {{link.snippet}} <br><br>
    </span>
</div>


