:host div {
    padding-top: 20px;
}


.day {
    background-color: #2d8196;
    color: #fff;
    /*font-weight: bold;*/

}

.day td {
    border-top: none;
    font-size: 17px;
}
.query span {
    /*margin-left: 10px;*/
}

:host table {
    background-color: #fff;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
